{include file='header.html'}
	<div id="main">
		<p class="topicPath"><a href="{$freo.core.http_file}">Home</a> &gt; <span class="current">パスワード再発行</span></p>
		<h1>パスワード再発行</h1>
		<div id="section content textBody">
			<ul>
				<li>パスワードの再発行が完了しました。</li>
				<li>登録されているメールアドレスに新しいパスワードを送信しました。</li>
			</ul>
		</div>
		<p class="topicPath"><a href="{$freo.core.http_file}">Home</a> &gt; <span class="current">パスワード再発行</span></p>
	</div>
{include file='utility_other.html'}
{include file='footer.html'}
