{include file='header.html'}
	<div id="main">
		<p class="topicPath"><a href="{$freo.core.http_file}">Home</a> &gt; <span class="current">ユーザー用ページ</span></p>
		<h1>ユーザー用ページ</h1>
		<div class="section content textBody">
			<h2>パスワード変更</h2>
			<form action="{$freo.core.https_file}/user/password_form" method="post" class="post">
				<fieldset>
					<legend>パスワード登録フォーム</legend>
					<div>
						<input type="hidden" name="freo[token]" value="{$token}" />
						<p class="commentModerated">
							<!--{if $errors}-->
							<ul class="attention">
							<!--{foreach from=$errors|smarty:nodefaults item='error'}-->
								<li>{$error}</li>
							<!--{/foreach}-->
							<ul class="complete">
							<!--{elseif $freo.query.exec == 'update'}-->
								<li>パスワードを変更しました。</li>
							<!--{/if}-->
							<ul>
								<li>パスワードを入力してください。</li>
								<li><abbr class="attention" title="入力必須">*</abbr> の付いた項目は入力必須項目です。</li>
							</ul>
						</p>
					</div>
					<dl>
						<dt>以前のパスワード <abbr class="attention" title="入力必須">*</abbr></dt>
							<dd><input type="password" name="password[old]" size="30" value="{$input.password.old}" /></dd>
						<dt>新しいパスワード <abbr class="attention" title="入力必須">*</abbr></dt>
							<dd><input type="password" name="password[new]" size="30" value="{$input.password.new}" /></dd>
						<dt>新しいパスワード（確認入力） <abbr class="attention" title="入力必須">*</abbr></dt>
							<dd><input type="password" name="password[confirm]" size="30" value="{$input.password.confirm}" /></dd>
					</dl>
					<div class="action"><input type="submit" value="登録する" class="submit post" /></div>
				</fieldset>
			</form>
		</div>
		<p class="topicPath"><a href="{$freo.core.http_file}">Home</a> &gt; <span class="current">ユーザー用ページ</span></p>
	</div>
{include file='utility_other.html'}
{include file='footer.html'}
